<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="~/favicon.ico">
    <title>SCADA Ensambles</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link href="~/css/chunk-vendors.2d2db3ca.css" rel="stylesheet">
    <link href="~/css/app.c9c797f2.css" rel="stylesheet">
</head>
<body>
    @RenderBody()
     <noscript>
        <strong>We're sorry but SCADA doesn't work properly without JavaScript enabled. Please enable it to
            continue.
        </strong>
    </noscript>
    <div id="app"></div>
    <script defer="defer" src="~/js/chunk-vendors.9a2c06bc.js"></script>
    <script defer="defer" src="~/js/app.25b9b9ac.js"></script>
    @RenderSection("Scripts",required:false)

</body>
</html>
